<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Vue.js</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https:/unpkg.com/vue"></script>
</head>
<body>

	<div id="vue-app">
		<h1>Vue的 数据双向绑定</h1>
		<label>姓名:</label>
		<!-- 双向绑定实现方法-1
			ref:被他标记的标签,在Vue对象里可以通过this.$refs.name.value操作获取其值
			<input ref="name" type="text" v-on:keyup="inputName"> 
			<span>{{name}}</span>
			<label>年龄:</label>
			<input ref="age" type="text" v-on:keyup="inputAge"> 
			<span>{{age}}</span>
		 -->

		<!-- 双向绑定实现方法-2 -->
		<input ref="name" type="text" v-model="name"> 
		<span>{{name}}</span>
		<label>年龄:</label>
		<input ref="age" type="text" v-model="age"> 
		<span>{{age}}</span>
	</div>
	

	<!-- 导入Vue.js样式 -->
	<script src="app.js"></script>
</body>
</html>